/docs/

# MSBuild / xbuild products
bin/
obj/

# Visual Studio
*.suo
*proj.user

# ReSharper
*.DotSettings.user

# Xamarin Studio / MonoDevelop
*.userprefs

*/gtk-gui/*.cs
*/*/gtk-gui/*.cs
*.pidb
test-results/
tests/test-results/
